@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fcfcfc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  color: #9a2ca0;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-left: 10rem;
}

.form-container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form {
  background: #f9f9f9;
  display: block;
  padding: 2.5rem;
  margin: 15rem 0;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2),
    0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.24);
}
.heading {
  font-size: 3rem;
  line-height: 2.5rem;
  margin: 3rem;
  text-align: center;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 0.5rem;
  padding: 1rem;
}

input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#contact-submit {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: inherit;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .margin-extra {
    margin-top: 19rem;
  }
  .nav-logo {
    align-items: center;
    margin: 0 auto;
  }
}
